<h1>Repeated Word Counter</h1>
<p>
  In the first form, type a phrase. In the second form, type a word to check the amount of times it is repeated in the phrase.
</p>
<form action="/results" method="post">
  <label for="new-input1">Type a phrase or sentence: </label>
  <input type="text" name="input1">
  <label for="new-input2">Type a word to be checked: </label>
  <input type="text" name="input2">
  <button type="submit" name="button">Click here to view your results</button>
</form>
